
/* #region Estilos Originales */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* #endregion */

/* #region Root y estilos propios */
:root {
    --var-color-primario: #3E8E7E;
    --var-color-secundario: #C97C5D;
    --var-color-terciario: #6B5B95;
    --var-color-gris-claro: #F5F7FA;
    --var-color-texto-oscuro: #2E2E2E;
}

@font-face {
    font-family: 'Roboto';
    src: url('/Resources/Fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}
span{
    font-family: Roboto;
    font-size: 1rem;
    color: var(--var-color-texto-oscuro);
}
/* #endregion */

/* #region Nav */
.navbar{
    height: 50px;
    background-color: var(--var-color-gris-claro);
    padding: 0px 20px;
    display: flex;
    align-items:center;
    justify-content:space-between;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.menu{
    display: flex;
    flex-direction: column;
    position:relative;
    height: 1.5rem;
    width: 2rem;
}
.hamburger-menu-line{
    background-color: var(--var-color-texto-oscuro);
    height: 4px;
    width: 2rem;
    border-radius: 4px;
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.menu .hamburger-menu-line:nth-child(1){
    top: 0;
}
.menu .hamburger-menu-line:nth-child(2) {
    top: 50%;
    transform: translate(0%,-50%);
}
.menu .hamburger-menu-line:nth-child(3) {
    bottom: 0;
}

.menu.active .hamburger-menu-line:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.menu.active .hamburger-menu-line:nth-child(2) {
    opacity: 0;
}

.menu.active .hamburger-menu-line:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}
.user-container{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.user-icon{
    font-size: 1.5rem;
    color: var(--var-color-texto-oscuro);
}
/* #endregion */

/* #region Container */
.container{
    display: grid;
    grid-template-columns: 30vw 1fr;
    flex: 1;
    width: 100vw;
    transition: grid-template-columns ease 0.5s;
}
.container.sidebar-hidden {
    grid-template-columns: 0 1fr;
}
    /* #region Sidebar */
    aside{
        background-color: var(--var-color-primario);
        box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
        width: 30vw;
        transition: ease 0.5s;
    }
    aside.hidden{
        transform: translateX(-100%);
    }
    
    aside ul{
        margin: 0;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0rem;
    }
    .menu-option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: ease 0.2s;
        padding: 1rem 0.2rem;
        gap: 0.5rem;
        &:hover {
            background-color: var(--var-color-secundario)
        }
    } 

    .menu-option span{
        font-weight: bold;
        color: white;
    }
    .menu-option i {
        font-weight: bold;
        color: white;
        font-size: 2rem;
    }
    /* #endregion */
/* #endregion */

/* #region Charts */
.charts-container{
    width: 100%;
    padding: 0.5rem;
}
/* #region Bar Chart */
.bar-chart-container{
    position: relative;
    width: 50vw;
    height: 40vh;
}
/* #endregion */

/* #endregion */

/* #region nombre */

/* #endregion */