<div id="charts-container" class="charts-container">
	<div id="line-chart-container" class="line-chart-container">
		<canvas id="line-chart-canvas"></canvas>
	</div>
	<div id="pie-chart-container" class="pie-chart-container">
		<canvas id="pie-chart-canvas"></canvas>
	</div>
	<div id="bar-chart-container" class="bar-chart-container">
		<canvas id="bar-chart-canvas"></canvas>
	</div>
	<div id="hor-bar-chart-container" class="hor-bar-chart-container">
		<canvas id="hor-bar-chart-canvas"></canvas>
	</div>
</div>

@section Scripts{

	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>
	<script src="~/js/chartspage.js" asp-append-version="true"></script>
}
